@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

/* COMPONENTES GENERALES */
body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #0081A7;
}

a:hover {
    text-decoration: none;
}

.hover-sidebar :hover{
    background-color:#ffffff3a;
    border-right: 6px solid #ffffff;
}

.bg-primary { background-color: #0081A7}

.bg-light { background-color: #ffffff}

.bg-grey { background-color: #efefef }

.bg-mix { background: linear-gradient(180deg, #ffffff 50%, #efefef 0); }

.btn-primary {
    background-color: #0081A7;
    border: 0;
}
.btn-success {
    background-color: #00A2A1;
    border: 0;
    margin: 0;
}
.btn-danger {
    background-color: #E55D6D;
    border: 0;
    margin: 0;
}
.btn-warning {
    border: 0;
    margin: 0;
}
.btn-success:hover {
    background-color: #007678;
}
.btn-danger:hover {
    background-color: #91002D;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #2A2B38;
    border: 1px solid #2A2B38;
}
.btn-administacion{
    margin-bottom: 10px;
}

/*estilos para la tabla*/
table th {
    background-color: #0081A7 ;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle ;
    padding: 4px 10px ;
}
tr td:last-child {
    text-align: center;
}
#tablaRepCru tr td{
    text-align: center;
}
.dataTables_length{
    display: none;
}
.dataTables_info{
    padding: 0 ;
}
.page-item.active .page-link{
    background-color: #0081A7 ;
    border-color: #0081A7 ;
}
#tablaAgregarLibro thead tr th:nth-child(1){
    width: 233px;
}
#tablaAgregarDetCom thead tr th:nth-child(2){
    width: 148px;
}
#tablaAgregarDetCom thead tr th:nth-child(3){
    width: 156px;
}

#tablaEstRes tbody tr td:nth-child(1){
    width: 50px;
}

#tablaBalGen tbody tr td:nth-child(1){
    width: 50px;
}
/* MODAL */
.modal-dialog{
    max-width: 700px;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute ;
}

/*SIDEBAR*/
.icono-logo{
    width: 30px;
    margin-right: 10px;
}
#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.btn-search {
    right: 190px;
}

/* CONTENIDO PAGINA */
/* HOME */
.carta-icono {
    font-size: 70px;
}
.cartas{
    max-width: 75%;
}
/* AGENDAR CITAS */
#calendar {
    max-width: 100vw;
    height: 650px;
    margin: 0 auto;
}

/* VALIDACION */
.formulario__grupo-correcto .form-control{
    border: 2px solid #00A2A1;
}

.formulario__grupo-incorrecto .col-form-label {
	color: #91002D;
}

.formulario__grupo-incorrecto .form-control {
	border: 2px solid #91002D;
}

.formulario__grupo-correcto__Search .form-control{
    border: 2px solid #00A2A1;
}

.formulario__grupo-incorrecto__Search .form-control {
	border: 2px solid #91002D;
}

.alerta{
    margin-left: 25px;
}

/* BUSQUEDA */
.form-search{ 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
.form-style {
    padding: 13px 40px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #2A2B38;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #41bb92;
    transition: all 200ms linear;
}

.btnConsultar{
    margin-top: 12px;
}

.subTitles{
    color: #ffffff;
}
.subtitle-left{
    margin-left: 16px;
}

.lista{
    color: #ffffff;
    padding: 16px;
}